[submodule "RogueElements"]
	path = RogueElements
	url = https://github.com/audinowho/RogueElements.git
[submodule "FNA"]
	path = FNA
	url = https://github.com/FNA-XNA/FNA.git
[submodule "NLua"]
	path = NLua
	url = https://github.com/audinowho/NLua.git
